/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front Page */

.latest-journal{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .recent-journal-entry{
        display: flex;
        flex-direction: column;
        border: 1px solid $color_brand_border;
        margin: 0 10px;
        .front-recent-thumbnail{
            width: 100%;
            height: 62%;
        }
        .front-recent-comments, .front-recent-title{
            padding: 0 5px;
        }
        .front-recent-title{
            h2 .hello{
                margin: 0;
            }
        }
    }
}




/* Sidebar */


.widget-area{
    flex: 0 0 30%;
    padding-top: 40px;

    .widget-title{
        text-transform: uppercase;
        color: $color_brand_hover;
    }
}



/* Shop */

.shop-content-area, .about-content{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.custom-header{
    width: 100vw;
    height: 100vh;
    top:0;
}